* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  /* add font */
}

body {
  height: 100vh;
  display: grid;
  place-content: center;

  background-color: #333333;
}

main {
  display: flex;

  animation: slideDown 2s;
}

.mainBox {
  height: 300px;
  width: 250px;
  margin-left: 10px;
  background-color: rgb(164, 164, 164);
  border: 6px solid black;
  border-radius: 4px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#memoryGameView {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  padding: 4px;
  /* margin: auto; */
  background-color: black;
  border: 2px solid rgb(75, 75, 75);
  border-radius: 4px;

  position: relative;
}
#memoryGameView::after {
  content: "";
  position: absolute;
  transform: translate(-6px, -6px);
  height: 164px;
  width: 164px;
  border: 3px solid rgb(214, 214, 214);
  border-radius: 4px;
}
.viewSquare {
  height: 50px;
  width: 50px;
  background-color: transparent;
  border-radius: 1px;
}
.active {
  background-color: rgb(68, 168, 254);
}

#memoryGameInput {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  /* margin: 0 auto; */
  /* background-color: black; */
  /* border: 2px solid rgb(75, 75, 75); */
  border-radius: 4px;
}
.inputSquare {
  height: 50px;
  width: 50px;
  margin: 2px;
  background-color: rgb(115, 115, 115);
  border: 3px solid rgb(30, 30, 30);
  border-radius: 4px;
  cursor: pointer;
}
.pressed {
  background-color: rgb(56, 136, 209);
}
.pass {
  background-color: rgb(56, 136, 209);
}

/* Light Status */
/*--------------*/
.lightStatusContainer {
  display: flex;
}
.lightStatus {
  margin: 0 .55rem;
  height: 1.30rem;
  width: 1.30rem;
  border: 3px solid rgb(30, 30, 30);
  border-radius: 50%;
}
.activeLight {
  background-color: rgb(0, 190, 0);
}

/* Animations*/
/*-----------*/
@keyframes slideDown {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-200, 0);
  }
}